<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon/dog-203766/favicon.ico" /> <!-- Browser Tab Icon -->
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet"> <!-- Google font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- FontAwesome CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- JQuery for nav animations -->
    <title>Scooby</title>
</head>
<body>


<!--Start of Main content Body -->
<section>
    <!-- Top bar -->
    <div class="topBar">
        <h2>ScoobyWho</h2>
        <a id="SignUp" href="/sign_up"><i class="fa fa-user-plus" aria-hidden="true"></i>SignUp</a>
        <a id="Home" href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    </div>