<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon/dog-203766/favicon.ico" /> <!-- Browser Tab Icon -->
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet"> <!-- Google font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- FontAwesome CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- JQuery for nav animations -->
    <title>Scooby</title>
</head>
<body>

     <!-- Burger Menu  -->
     <input type="checkbox" id="check" name="checkbox" />
     <label for="check">
       <div class="burger">
         <div class="bar1"></div>
         <div class="bar2"></div>
         <div class="bar3"></div>
       </div>
     </label>

<!-- Top Bar Navigation -->
<aside>
    <div class="topnav">
      <!-- different nav bars depending on if a user is logged in or not-->
        <% if(user === null){ %>
            <a id="SignIn" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>SignIn</a>
            <a id="SignUp" href="/sign_up"><i class="fa fa-user-plus" aria-hidden="true"></i>SignUp</a>
        <%  }else{ %>
            <div class="dropdown">
              <button class="dropbtn"><i class="fa fa-user"></i><%= user.username %> &#9660;</button>
                <div class="dropdown-content">
                  <a href="#">Edit Profile</a>
                  <a href="#">Messages</a>
                  <a href="/logout">Logout</a>
                </div>
            </div>
        <%  } %>
        <br>
        <br>
        <!-- filter section will be here -->
        <span ><h5 class="filter"><i class="fa fa-filter"></i>Filters: Filters will go here</h5></span>
    </div>
</aside>

<!--Start of Main content Body -->
<section>
    <!-- Top bar -->
    <div class="topBar">
        <h2>ScoobyWho</h2>
    </div>