<%- include ("../partials/mainHeader") %>


   <!-- Not being implemented just to show whats being updated -->
  <div id="Updating">
    <div id="Data_Updating">
      <h1 id="updating_item">This is where all Dog adds will go.</h1> 
    </div>     
  </div>


</section>

</body>
<script type="text/javascript" src="/scripts/nav.js"></script> <!-- Navigation JS file -->
</html>