<%- include ("../partials/SignUpHeader") %>

<!-- Choose the Account Type-->
<div class="accountType">
        <h2>Choose Account Type</h2>
        <div class="userSelect">
                <a href="/userSignUp">
                        <div class="userType">
                                <div class="typePic1">

                                </div>
                                <div class="typeDescr">
                                        <h2>Standard</h2>
                                        <ul>
                                                <li>Buy</li>
                                                <li>Message Breeders</li>
                                                <li>Leave reviews</li>
                                                <li>Easy setup</li>
                                        </ul>
                                </div>
                        </div>
                </a>
                <a href="/breederSignUp">
                        <div class="userType">
                                <div class="typePic2">

                                </div>
                                <div class="typeDescr">
                                        <h2>Breeder</h2>
                                        <ul>
                                                <li>Sell & Stud</li>
                                                <li>Messaging</li>
                                                <li>Leave reviews</li>
                                                <li>Account verified</li>
                                        </ul>
                                </div>
                        </div>
                </a>
        </div>    
</div>

</section>

</body>
</html>